<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<%= button_to "新規登録", new_user_registration_path, method: :get %>
<%= button_to "ログイン", new_user_session_path %>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= button_to "管理者ログイン", new_admin_session_path, method: :get %>
<%= button_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
